<div class="container mt-5 mb-5">
  <div class="card-deck" >
    <div class="row" >
      <div class="col-sm-4"  *ngFor = "let mesa of mesas">
        <div class="card text-center mb-4" id="cardMesa">
          <div class="card-header">
            <h6 class="card-title mb-0"><strong>Mesa: {{mesa.codMesa}}</strong></h6>
          </div>
          <div class="card-body">
            <img class="mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_iBKAZqp1Q4KDRdlaZS_W6IlARkvMPDIioQ&usqp=CAU" style="width:70px;">
            <p class="card-text" ><strong>Capacidad: </strong> {{mesa.capacidad}} personas</p>

          </div>
          <div class="card-footer text-center" id="footerEstadoDisponible" *ngIf="!mesa.estado else elseBlock">
            <small class="text-white">
              <strong>Disponible</strong></small>
          </div>
          <ng-template #elseBlock>
            <div class="card-footer text-center" id="footerEstadoOcupado">
              <small class="text-white">
                <strong>Ocupado</strong></small>
            </div>
          </ng-template>
        </div>
     </div>
    </div>
  </div>
</div>
