#footerEstadoDisponible{
  background-color: rgb(8,170,0);
}
#footerEstadoOcupado{
  background-color: rgb(220,0,0);
}
#cardMesa{
  position: relative;
  bottom: 0px;
  transition: bottom .5s;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}
#cardMesa:hover{
    bottom: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .3);
}
