<div class="container mt-5 mb-5">
  <div class="card-deck ">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">MESA 1</h5>
      <div class="text-center mt-3 mb-3">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_iBKAZqp1Q4KDRdlaZS_W6IlARkvMPDIioQ&usqp=CAU" style="width:80px;">
      </div>
      <p class="card-text">INFORMACION DE LA MESA</p>
    </div>
    <div class="card-footer bg-success text-center">
      <small class="text-white"><strong>DISPONIBLE</strong></small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">MESA 2</h5>
      <div class="text-center mt-3 mb-3">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_iBKAZqp1Q4KDRdlaZS_W6IlARkvMPDIioQ&usqp=CAU" style="width:80px;">
      </div>
      <p class="card-text">INFORMACION DE LA MESA</p>
    </div>
    <div class="card-footer bg-danger  text-center">
      <small class="text-white"><strong>OCUPADO</strong></small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">MESA 3</h5>
      <div class="text-center mt-3 mb-3">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_iBKAZqp1Q4KDRdlaZS_W6IlARkvMPDIioQ&usqp=CAU" style="width:80px;">
      </div>
      <p class="card-text">INFORMACION DE LA MESA</p>
    </div>
    <div class="card-footer bg-success text-center">
      <small class="text-white"><strong>DISPONIBLE</strong></small>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">MESA 4</h5>
      <div class="text-center mt-3 mb-3">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_iBKAZqp1Q4KDRdlaZS_W6IlARkvMPDIioQ&usqp=CAU" style="width:80px;">
      </div>
      <p class="card-text">INFORMACION DE LA MESA</p>
    </div>
    <div class="card-footer bg-danger  text-center">
      <small class="text-white"><strong>OCUPADO</strong></small>
    </div>
  </div>
</div>


<div class="card-deck mt-4">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <div class="card-footer bg-danger  text-center">
    <small class="text-white"><strong>OCUPADO</strong></small>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
  </div>
  <div class="card-footer bg-success text-center">
    <small class="text-white"><strong>DISPONIBLE</strong></small>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
  </div>
  <div class="card-footer bg-danger  text-center">
    <small class="text-white"><strong>OCUPADO</strong></small>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
  </div>
  <div class="card-footer bg-success text-center">
    <small class="text-white"><strong>DISPONIBLE</strong></small>
  </div>
</div>
</div>


</div>
