/*
#navPrincipal{
  background: rgba(191,6,18,1);
  background: -moz-linear-gradient(left, rgba(191,6,18,1) 0%, rgba(235,99,108,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(191,6,18,1)), color-stop(100%, rgba(235,99,108,1)));
  background: -webkit-linear-gradient(left, rgba(191,6,18,1) 0%, rgba(235,99,108,1) 100%);
  background: -o-linear-gradient(left, rgba(191,6,18,1) 0%, rgba(235,99,108,1) 100%);
  background: -ms-linear-gradient(left, rgba(191,6,18,1) 0%, rgba(235,99,108,1) 100%);
  background: linear-gradient(to right, rgba(191,6,18,1) 0%, rgba(235,99,108,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0612', endColorstr='#eb636c', GradientType=1 );
}
#navPrincipal{
  background: rgba(217,24,37,1);
background: -moz-linear-gradient(left, rgba(217,24,37,1) 0%, rgba(235,99,108,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(217,24,37,1)), color-stop(100%, rgba(235,99,108,1)));
background: -webkit-linear-gradient(left, rgba(217,24,37,1) 0%, rgba(235,99,108,1) 100%);
background: -o-linear-gradient(left, rgba(217,24,37,1) 0%, rgba(235,99,108,1) 100%);
background: -ms-linear-gradient(left, rgba(217,24,37,1) 0%, rgba(235,99,108,1) 100%);
background: linear-gradient(to right, rgba(217,24,37,1) 0%, rgba(235,99,108,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d91825', endColorstr='#eb636c', GradientType=1 );
}*/

#navPrincipal{
  background: rgba(250,42,66,1);
  background: -moz-linear-gradient(left, rgba(250,42,66,1) 0%, rgba(255,99,109,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,42,66,1)), color-stop(100%, rgba(255,99,109,1)));
  background: -webkit-linear-gradient(left, rgba(250,42,66,1) 0%, rgba(255,99,109,1) 100%);
  background: -o-linear-gradient(left, rgba(250,42,66,1) 0%, rgba(255,99,109,1) 100%);
  background: -ms-linear-gradient(left, rgba(250,42,66,1) 0%, rgba(255,99,109,1) 100%);
  background: linear-gradient(to right, rgba(250,42,66,1) 0%, rgba(255,99,109,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa2a42', endColorstr='#ff636d', GradientType=1 );
}
.custom-toggler #icono{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
}
/*
#navPrincipal{
  background: rgba(0,45,179,1);
  background: -moz-linear-gradient(left, rgba(0,45,179,1) 0%, rgba(0,194,146,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,45,179,1)), color-stop(100%, rgba(0,194,146,1)));
  background: -webkit-linear-gradient(left, rgba(0,45,179,1) 0%, rgba(0,194,146,1) 100%);
  background: -o-linear-gradient(left, rgba(0,45,179,1) 0%, rgba(0,194,146,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,45,179,1) 0%, rgba(0,194,146,1) 100%);
  background: linear-gradient(to right, rgba(0,45,179,1) 0%, rgba(0,194,146,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002db3', endColorstr='#00c292', GradientType=1 );
}
*/
