#navPrincipal{
  background: rgba(13,37,171,1);
  background: -moz-linear-gradient(left, rgba(13,37,171,1) 0%, rgba(0,132,247,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(13,37,171,1)), color-stop(100%, rgba(0,132,247,1)));
  background: -webkit-linear-gradient(left, rgba(13,37,171,1) 0%, rgba(0,132,247,1) 100%);
  background: -o-linear-gradient(left, rgba(13,37,171,1) 0%, rgba(0,132,247,1) 100%);
  background: -ms-linear-gradient(left, rgba(13,37,171,1) 0%, rgba(0,132,247,1) 100%);
  background: linear-gradient(to right, rgba(13,37,171,1) 0%, rgba(0,132,247,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d25ab', endColorstr='#0084f7', GradientType=1 );
}
