#footer{
  background: rgba(2,12,20,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(2,12,20,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(2,12,20,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(2,12,20,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(2,12,20,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(2,12,20,1) 0%, rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(2,12,20,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020c14', endColorstr='#000000', GradientType=1 );
}
